* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}
:root{
    --normal-width: 915px;
}
.container-normal{
    width: var(--normal-width);
    margin: 0 auto;
}
.top{
    width: 100%;
    height: 765px;
    background-image: url("images/head-background.jpg");
}
.top-heading{
    display: flex;
    justify-content: space-between;
    height: 190px;
    border-bottom: 1px #fff solid;
}
.top-content{
    height: 765px;
}
.top-heading-logo{
    background-image: url("images/logo.png");
    width: 300px;
    height: 185px;
}
.top-heading-hotline{
    width: 440px;
    height: 75px;
    background-color: #49A333;
    color: #fff;
    margin: auto 20px auto 0;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
}
.top-form{
    width: 365px;
    height: 450px;
    background-color: #678B37;
    border-radius: 5px;
    border: 7px solid #CED086;
    color: #fff;
    margin-top: 70px;
    margin-left: 30px;
}
.top-form-tittle{
    text-align: center;
    font-size: 27px;
    width: 270px;
    margin: 30px auto 0 auto;
}
.top-form-note{
    margin-top: 20px;
}
.top-form-note p{
    text-align: center;
    font-size: 14px;
    font-style: italic;
}
.top-form-input{
    width: 290px;
    margin: 20px auto 0 auto;
}
.top-form-input input{
    width: 290px;
    height: 30px;
    background-color: #678B37;
    margin-bottom: 10px;
    
}
.top-form-input input::placeholder{
    color: #fff;
}
.top-form-btn{
    margin: 0 auto;
}
.top-form-btn{
    width: 170px;
    height: 55px;
    background-color: #C5D301;
    border: none;
    color: #fff;
    font-size: 15px;
    margin: 10px auto 0 auto;
    display: block;
}
.main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px;
    gap: 15px;
}
.main img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border:2px #0DC212 dashed;
}
.main-content-title{
    color: #2D8C15;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.main-content-subcontent{
    font-size: 18px;
    margin-top: 20px;
}
.main2{
    width: 100%;
    height: 290px;
    background-color: #81AF53;
    margin-top: 20px;
}
.main2-content{
    width: var(--normal-width);
    height: 290px;
    margin: 0 auto;
    display: flex;

}
.left-content{
    width: 70%;
    margin-top: 40px;
    margin-right: 20px;
}
.main2-content img{
    width: 285px;
    height: 215px;
    margin: auto 0;
}
.tittle{
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.content{
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: #DCE085;
    padding-top: 20px;
}
.footer-input{
    display: flex;
    justify-content: space-between;
}
.footer-content{
    width: var(--normal-width);
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: #196530;
}
.footer-input-left input{
    width: 450px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}
.footer-input-right input{
    width: 450px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}
.footer-input-right button{
    width: 450px;
    height: 30px;
    background-color: #196530;
    border: none;
    color: #fff;
}
